#root {
  display: flex;
  flex-direction: column;
}
h2 {
  margin: auto;
}
h2 img {
  height: 35px;
}
/* sun logo rotation animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.sun-logo {
  width: 100px;
  height: 100px;
  margin: 11px;
  background-image: url('./sunlogo.gif');
  background-repeat: no-repeat;
  background-size: cover;
  animation: rotation 30s infinite;
}
.login-signup {
  background-image: url('./pv_panels.jpeg');
  background-size: 100vw 400px;
  background-position: right;
  display: flex;
  justify-content: space-between;
}
.user-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.welcome p {
  margin: 20px 10px;
}
.welcome button {
  margin: 20px 10px;
}
.sign-up-btn {
  margin:10px 10px 0 0;
  width: 120px;
  text-align: center;
}
.login h3 {
  margin: 0 0 20px 125px;

}
.login-form, .signup-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(78, 255, 78, 0.3);
  border: 2px solid rgb(93, 130, 153);
  border-radius: 10px;
  margin-left: 40px;
  width: 300px;
  color: rgb(7, 73, 9);
}
.login-form button, .signup-form button {
  width: 150px;
  margin: 10px auto;
}
.login-form input, .signup-form input {
  background-color: rgb(255, 253, 15);
}
.log-in-btn {
  margin:10px 10px 0 0;
  width: 120px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(255, 252, 0, 0.49);
  width: 150px;
  text-align: center;
}

header div {
  margin-top: 50px;
  padding: 20px 0;
  width: 100%;
  font-size: 20px;
  transition: 1s;
  color: rgb(0, 116, 1);
}
header div:hover {
  background-color: rgb(232, 212, 29);
  color: rgb(84, 61, 1);
}
header a:hover {
  text-decoration: none;
  font-size: 20px;
}
.energy-dotgov {
  margin: 10px;
  width: 300px;
  height: 75vh;
}
.energy-dotgov :hover {
  text-decoration: none;
}
.energy-dotgov-text {
  padding: 20% 0;
  color: black;
  text-decoration: none;
  background-color: rgba(190, 190, 190, 0.75)
}
.pv-system-diagram {
  background-image: url('./grid_connected.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}
.components {
  width: 80vw;
  margin-top: 20px;
}

.sys-cap {
  display: flex;
  justify-content: center;
}
.sys-cap input {
  width: 60px;
}
.sys-form {
  display: flex;
  flex-direction: column;
}
.sys-info {
  width: 200px;
  background-color: rgba(0, 238, 52, 0.07);
  border-radius: 10px;
  border: 3px solid rgb(0, 119, 40);
  padding: 7px 3px 5px 3px;
  margin: auto;
  font-size: 12px;
  text-align: center;
}
.sys-btn {
  width: 200px;
  margin: 10px auto;
}
.panel-options {
  width: 100px;
  margin: auto;
}

.sys-cap span {
  background-color: rgb(121, 249, 164);
  margin-right: 10px;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 2px;
}
.output-tables {
  display: flex;
  align-items: flex-start;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  background-color: rgba(255, 231, 148, 0.09);
}
tbody {
  margin: 5px;
}
thead tr {
  box-shadow: 0 1px rgb(138, 138, 138),
}

tr td {
  border-bottom: 2px solid rgba(13, 79, 0, 0.43);
  border-left: 2px solid rgb(98, 195, 0);
  border-right: 2px solid rgb(98, 195, 0);
}
.save-output-btn {
  width: 110px;
}
.saved-outputs {
  display: flex;
}
.delete-btn {
  margin: 5px 20px;
}
.ecc-total {
  display: flex;
  justify-content: space-around;
}

#total-btn {
  border-radius: 5px;
}

.e-consumption-calc, .sys-form {
  text-align: center;
  width: 350px;
  margin: auto;
}

.e-consumption-calc span {
  font-size: 30px;
}

.e-consumption-calc label {
  border-radius: 10px 0 0 10px;
  margin: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #6eff8e;
  border-left: 1px solid #6eff8e;
}

.e-consumption-calc input {
  margin-bottom: 10px;
  width: 100px;
}
